.three {
    color: rgb(243, 19, 19);
}

.four {
    color: rgb(172, 3, 3);

}

.five {
    background-color: yellow;
}

.six {
    background-color: yellow;
    color: rgb(158, 24, 24)
}

.one{
    color: brown;
    letter-spacing: 8px;
}